<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
		
		<!-- ※ 스프링이 제공하는 환경설정 XML 파일 샘플 -->
		<!-- -  스프링이 생성하고 관리해야 할 객체들에 대한 정보 전달 -->
		
		<!-- CalculatorImpl 클래스의 객체 생성 및 관리를 위한 정보 전달 -->
		<bean id="cal" class="com.test.spr.CalculatorImpl"></bean>
		
		<!-- CalculatorAspect 클래스의 객체 생성 및 관리를 위한 정보 전달 -->
		<bean id="aspect" class="com.test.spr.CalculatorAspect"></bean>
		
		
		
		
		<!-- ◆◆◆ 추가~!!!! check ◆◆◆ -->
		<!-- CalculatorBeforeAdvice 클래스의 객체 생성 및 관리를 위한 정보 전달 -->
		<bean id="before" class="com.test.spr.CalculatorBeforeAdvice"></bean>
		
		<!-- ◆◆◆ 추가~!!!! check ◆◆◆ -->
		<!-- CalculatorAfterThrowing 클래스의 객체 생성 및 관리를 위한 정보 전달 -->
		<bean id="afterThrowing" class="com.test.spr.CalculatorAfterThrowing"></bean>
		
		
		
		
		
		
		<!-- ★★★ -->
		<!-- 스프링이 제공하는 가짜 객체(Proxy) 클래스의 객체 생성 및 관리를 위한 정보 전달 -->
		<!-- ProxyFactoryBean -->
		<bean id="proxy" class="org.springframework.aop.framework.ProxyFactoryBean">
		
			<!-- 주 업무 클래스의 인터페이스 정보 제공 -->
			<!-- proxyInterfaces -->
			<!-- 복수형(s)이라서 단일값이 아닌 list - value 로 만들어줘야함 -->
			<property name="proxyInterfaces">
				<list>
					<value>com.test.spr.Calculator</value>
				</list>
			</property>
			
			<!-- 주 업무 클래스의 객체 정보 제공 -->
			<!-- target -->
			<property name="target" ref="cal"></property>
			
			<!-- 보조 업무 클래스의 객체 정보 제공 -->
			<!-- interceptorNames ▶ -->
			<!-- 복수형(s)이라서 단일값이 아닌 list - value 로 만들어줘야함 -->
			<property name="interceptorNames">
				<list>
				
					
					<!-- Before Advice -->
					<value>before</value>
					
					
					<!-- Around Advice -->
					<value>aspect</value>
					
					<!-- Around Advice -->
					<value>afterThrowing</value>
					
				</list>
			</property>
		
		
		</bean>
		
		
		
		
		
		
		<!-- CalculatorAspect 클래스의 객체 생성 및 관리를 위한 정보 전달 -->


</beans>
